/* ===============================
   ESTILOS DEL FOOTER
   =============================== */
.main-footer {
  background-color: var(--color-principal);
  color: var(--color-texto);
  border-top: 1px solid var(--color-border);
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.section-padding {
  padding: 50px 0;
}

.main-footer .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

.main-footer__menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  gap: 30px;
}

.footer_menu ul li a {
  text-decoration: none;
  color: var(--color-texto);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  transition: 0.3s;
}

.footer_menu ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.main-footer__social-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.main-footer__social-links ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.main-footer__social-links ul li a:hover {
  transform: translateY(-5px);
}

.main-footer__social-links img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: brightness(0); /* oscurece iconos */
  transition: opacity 0.3s;
}

.main-footer__social-links li:hover img {
  opacity: 1;
}
