/*Estilo del contenedor del footer, posicionamiento etc*/
footer {
  background-color: var(--color-principal);
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;

  .webIcon {
    width: 100px;
    height: 100px;
  }
}

/*Contenedor de todas las opciones del footer (social, navegación etc)*/
.footerOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.footerOptionsRow1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}
.footerOptionsRow2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: row;
  width: 100%;
}

/*Icono de redes sociales y su hover*/
.socialIcon {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  transition: transform 0.2s ease;
}
.socialIcon:hover {
  transform: translateY(-5px);
  transition: 0.5s;
  transition: transform 0.2s ease;
}

/*Estilo de cada una de las opciones del footer y hover y su icono*/
a {
  color: var(--color-texto);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 5px;
  transition: 0.5s;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
}
a:hover {
  color: var(--color-hover-text);
  transition: 0.5s;
}

/*Diseño responsive*/

/*Vista para móviles*/

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}

/* Tablet o pantalla encogida a medias */
@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
